body{
    font-family: 'Poppins', sans-serif;
}
.container-fluid{
    background-color: #f0fff0;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;  
}
.container-fluid img.logo{
    max-width: 40%;  
}
.nav-item{
    padding: 15px;
}
.sign-in-button{
    color:white;
    background-color: #21b573;
    border-radius: 20px;
    padding: 9px 25px;
    width: 150px;
    cursor: pointer;
    border-color: lightgray;
}
.sign-in-button:hover{
    color: thistle;
}
.top-text-color{
    color:#fd511a; 
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    padding-bottom: 10px;  
}
.schedule-color{
    color: #21b573;
}
.top-paragraph-color{
    color: #6c6b6b;
}
.get-started-button{
    color:white;
    background-color: #21b573;
    border-radius: 20px;
    padding: 9px 25px;
    width: 150px;
    cursor: pointer;
    border-color: lightgray;
}
.get-started-button:hover{
    color: thistle; 
}
p{
    padding: 0px 0px;
}
.top-img{
    max-width: 100%;
}
.card-img{
   max-width: 30%;
   padding-top: 40px;
}
.card-text{
  padding-top: 2px;
}
#card-2{
    border: none;
    border-radius: 10px;
    box-shadow: 2px 10px 10px 10px whitesmoke; 
}
#card-1, #card-3, #card-4{
    border: none;
}
.container-learn{
    height: 350px;
    padding-top: 40px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.container-fluid a:hover{
background-color: white;
}
.container-online-courses{
    height: 700px;
    padding: 40px;
}
.container-online-courses h1{
   padding-bottom: 60px;
}
.container-online-courses img{
padding: 20px 15px;   
}
.container-online-courses .card{
    border: none;
    border-radius: 10px;
    box-shadow: 2px 10px 10px 10px whitesmoke; 
}
h5{
    padding-bottom: 1px;
}
.buy-course-button{
    text-align: justify;
        color:white;
        background-color: #21b573;
        border-radius: 20px;
        padding: 10px 25px;    
        width: 150px;
        height: 40px;
        cursor: pointer;
        border-color: lightgray;  
}
.buy-course-button:hover{
    color: thistle; 
}
.container-online-courses .card-footer-img{
    max-width: 12%;
    padding-left: 2px;    
}
.container-online-courses .card p{
   padding-right: 2px;
}
.container-testimonial{
    height: 600px;
    padding: 150px 40px;
}
.container-testimonial p{
    text-align: left;
}
.man-img{
    max-width: 40%;
}
.container-testimonial p{
    padding-top: 60px;
}
.container-footer{
    width: 100%;
    height: 350px;
    color: white;
    background-color: #282531;
    padding: 50px;
    padding-left: 100px;
    margin: 0px;
}
.list-unstyled{
    padding-left: 150px;
}
.container-footer h6{
    padding-left: 150px;
}
.col-md-3{
    padding: 10px;
    padding-left: 2px;
}
.col-md-3 p{
    min-width: 400px;
    padding-right: 20px;
}